{
    "Cols": 5,
    "Rows": 3,
    "Symbols": [
        {
            "ID": 1,
            "Name": "Cherry",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 2,
            "Name": "Strawberry",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 3,
            "Name": "Citrus",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 4,
            "Name": "Orange",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 5,
            "Name": "Banana",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 6,
            "Name": "Bar",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "Wild"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        },
        {
            "ID": 7,
            "Name": "Wild",
            "Payouts": [
                0,
                0,
                2.5,
                5.0,
                10.0
            ],
            "MatchesWith": [
                "*"
            ],
            "WeightConfig": {
                "FixedWeight": 100,
                "Modifiers": [
                    {
                        "Type": "ReelWeight",
                        "ReelMultipliers": [
                            100,
                            100,
                            100,
                            50,
                            50
                        ]
                    }
                ]
            }
        }
    ],
    "Features": [
        {
            "Type": "EXPANDING_WILDS_FEATURE",
            "TargetSymbolID": 7
        },
        {
            "Type": "PAYLINES_FEATURE"
        },
        {
            "Type": "WILD_FEATURE",
            "TargetSymbolID": 7
        }
    ]
}